
/* General formatting for body section */

body {
    font-family: Arial, Helvetica, sans-serif;
}

  /* Google logo images for each page */

#searchlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -100px;
    height: 60%;
    width: 60%;
}

#imagelogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    height: 30%;
    width: 30%;
}

#advancedlogo {
    height: 35px;
    width: 95px;
}

/* Placement and behavior of inputs forms for search, feeling lucky, and images (not Advanced Search) */

#search-and-lucky {
    margin: auto;
    text-align: center;
}

#imageform {
    margin: auto;
    text-align: center;
}

.inputbox {
    border: 1px solid lightgray;
    border-radius: 25px;
    height: 40px;
    width: 500px;
}

.inputbox:hover {
    border: 1px solid lightslategray;
}

input[type="submit"] {
    border: 0px;
    height: 30px;
    width: 120px;
}

input:focus {
    outline: none;
}

input[type="submit"]:hover {
    border: 1px solid lightgray;
}

/* URL links at top right of page to other search pages */

a {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

/* Flexbox container definition and positioning for fields in Advanced Search page */

.flex-container {
    display: flex;
}

.flex-container>div {
    line-height: 45px;
    font-size: 14px;
}

.leftcolumn {
    flex-grow: 0;
    flex-shrink: 0;
    width: 180px;
}

.middlecolumn {
    flex: 1;
 /*   width: 50%; */
}

.rightcolumn {
    flex: 1;
/*    width: 35%; */
}

.middlecolumninput {
    width: 450px;
}

/* Nav border at top of Search and Images Search page (not Advanced Search) */

.searchnav {
    text-align: right;
    vertical-align: middle;
}

/* Nav border at top of Advanced Search page */

.flexsearchnav {
    display: flex;
    background-color: #f0edeb;
    align-items: center;
    height: 55px;
}

.middlenav {
    margin-left: auto;
}

/* "Advanced Search" header title above search fields in Advanced Search page */

h3 {
    color: crimson;
    font-weight: normal;
    padding-left: 40px;
    font-size: 20px;
}

/* Horizontal divider line above search fields in Advanced Search page */

hr.solid {
    border-top: 1px solid #f0edeb;
  }

/* Padding on left side for search fieds content in Advanced Search page */

#allcontent {
    padding-left: 40px;
}

.middlecolumnsubmit {
    width: 450px;
    text-align: right;
}

.middlecolumnsub {
    color: white;
    background-color: #4985de;
}

/* Make right column of Advanced Search disappear when screen size is less than some walue */
@media screen and (max-width: 1150px) {
    .rightcolumn {
      display: none;
    }
    .leftcolumn {
        flex-grow: 0;
        flex-shrink: 0;
    }

}