#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#search-and-lucky {
    margin: auto;
    text-align: center;
}

.inputbox {
    border-color: lightgray;
    border-radius: 20px;
    height: 40px;
    width: 500px;
}

input[type="submit"] {
    border: 0px;
}

input:focus {
    background-color: lightgray;
    outline: none;
}

input:hover {
    border-color: 1px lightgray;
}

